@mixin vertical-center {
  display: flex;
  align-items: center;
}

@mixin vertical-end {
  display: flex;
  align-items: flex-end;
}

@mixin horizontal-center {
  display: flex;
  justify-content: center;
}

@mixin horizontal-end {
  display: flex;
  justify-content: flex-end;
}

@mixin horizontal-between {
  display: flex;
  justify-content: space-between;
}

@mixin column-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin w-h_100 {
  width: 100%;
  height: 100%;
}
